{% extends "base.html" %}
{% block content %}
    <div class="m-10 flex">
        <div>
            <img class="w-128 rounded-lg" src="{{ item.item_image }}" alt="">
        </div>
        <div class="m-10 space-y-5">
            <p class="font-bold text-4xl">{{ item.item_name }}</p>
            <p class="text-green-500 font-bold text-2xl">Price: ${{ item.item_price }}</p>
            <p>{{ item.item_description }}</p>
            <div class="m-3">
                <a class="bg-yellow-600 px-4 py-2 rounded-md font-bold text-white"
                   href="">Edit</a>
                <a class="bg-red-600 px-4 py-2 rounded-md font-bold text-white" href="">Delete</a>
            </div>
        </div>
    </div>
{% endblock content %}
