{% extends "base.html" %}
{% block content %}
    <body>
        <div>
            <ul>
                {% for item in page_object %}
                    <li class="m-10 flex w-1/2 mx-auto">
                        <div>
                            <img class="h-32 rounded-lg"
                                 src="{{ item.item_image }}"
                                 alt="{{ item.item_name }}">
                        </div>
                        <div class="mx-16">
                            <p class="font-bold">{{ item.item_name }}</p>
                            <p class="text-green-500 font-bold">Price: ${{ item.item_price }}</p>
                            <p>Description: {{ item.item_description }}</p>
                            <a href="{% url "base:detail" item.id %}">
                                <div class="bg-red-400 text-white font-bold px-4 py-2 rounded-md mt-2 text-center">View Details</div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
    <div class="flex items-center justify-center space-x-4 py-4">
        {% if page_object.has_previous %}
            <a class="px-4 py-2 rounded-lg bg-gray-200 text-gray-700 hover:bg-gray-300 transition"
               href="?page={{ page_object.previous_page_number }}">Previous</a>
        {% endif %}
        <span>Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}</span>
        {% if page_object.has_next %}
            <a class="px-4 py-2 rounded-lg bg-gray-200 text-gray-700 hover:bg-gray-300 transition"
               href="?page={{ page_object.next_page_number }}">Next</a>
        {% endif %}
    </div>
{% endblock content %}
